@media only screen and (max-width: 480px) {

    /* Body */
    body {
        background-color: white;
        font-family: 'Geist', sans-serif;
        color: black;
        padding: 40px 50px;
        margin-bottom: 124px;
        overflow-x: hidden;
        z-index: 100;
    }

    /* Header */
    .header {
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        z-index: 100;
        transition: top 0.2s ease-in-out;
    }

    .logo {
        color: #000000;
        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
    }

    .navigation a {
        position: relative;
        font-size: 16px;
        text-decoration: none;
        color: #000000;
        margin-left: 20px;
        font-weight: 400;
    }

    .navigation a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #ff0000;
        transition: width 0.3s;
    }

    .amstart {
        margin-top: 81px;
    }

    .navigation a:hover::before {
        width: 100%;
    }

}
