@media only screen and (max-width: 480px) {
    body {
        background-color: white;
        font-family: "Geist", sans-serif;
        color: black;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    
    /* Header */
    .header {
        background-color: #fffffff3;
        width: 100%;
        padding: 10px;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        z-index: 100;
        top: 0;
    }

    .logo {
        color: #000000;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navigation a {
        font-size: 14px;
        text-decoration: none;
        color: #000000;
        margin: 5px 0;
        font-weight: 400;
    }
    
    .navigation a::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: #ff0000;
        transition: .3s;
    }
    
    .navigation a:hover::before {
        width: 100%;
    }
    
    /* Introduction */
    .intro {
        margin-top: 100px; /* To offset fixed header */
        text-align: center;
        padding: 10px;
    }
    
    .introtext h3 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .introtext p {
        font-size: 14px;
        padding: 0 10px;
    }

    /* Projects */
    .allprojects {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .projects, .SC, .AS {
        width: 90%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
    }

    /* Project 1 */
    .projects {
        background: linear-gradient(261.68deg, #626FFF 6.36%, rgba(72, 85, 230, 0.76) 42.59%, rgba(133, 113, 255, 0.76) 83.36%);
        color: #fff;
    }

    /* Project 2 */
    .SC {
        background: linear-gradient(261.68deg, #EB5308 6.36%, rgba(252, 118, 60, 0.76) 44.86%, rgba(251, 137, 32, 0.68) 83.36%);
        color: #fff;
    }

    /* Project 3 */
    .AS {
        background: linear-gradient(180deg, #F44E4E 0%, #BC3737 50%, #F48A4E 100%);
        color: #fff;
    }

    .text1, .text2, .text3 {
        text-align: center;
        font-size: 14px;
        color: #fff;
    }

    .projects:hover, .SC:hover, .AS:hover {
        transform: scale(1.05);
    }
}
