body {
    background-color: white;
    font-family: "Geist", sans-serif;
    color: black;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    position: static;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    
}


/* header */

.header {
    background-color: #fffffff3;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    
}

.logo {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    

}


.navigation a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-weight: 400;
    justify-content: space-between;
   
}

.navigation a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ff0000;
    transition: .3s;

}

.navigation a:hover::before {
    width: 100%;
}

/*introduction*/
.introtext {
    margin-top: 100px;
}
.introtext h3 {
    padding: 0px;
    margin-bottom: 40px;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 48px;
}


.introtext p {
    padding: 0px;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.scroll svg, button {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 24px;
    border: none;  
    background-color: #fff; 
    cursor: pointer;
    margin-bottom: 81px;
}



.block1:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.block2:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.block3:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.link-section {
    text-decoration: none;
    align-items: center;
    position: relative;
    color: inherit;
    display: contents;
}



.allprojects {
   
    place-items: center;
    align-items: center;
    
    justify-content: center;
    display: flex;
    flex-direction: column;

    
}

.blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 81px;
}

.blocks p {
    font-style: italic;
}

.block1 {
    border-radius: 30px;
    border: 2px solid #626FFF !important;
    position: relative;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.block2 {
    border-radius: 30px;
    border: 2px solid #EB5308 !important;
    position: relative;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.block3 {
    border-radius: 30px;
    border: 2px solid #F44E4E !important;
    position: relative;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.tags {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.block1 h5 {
    border: 2px solid #626FFF;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #626FFF;
}

.block2 h5 {
    border: 2px solid #EB5308;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #EB5308;
}


.block3 h5 {
    border: 2px solid #ff0000;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ff0000;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: white;
        font-family: "Geist", sans-serif;
        color: black;
        padding: 40px 50px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .header {
        background-color: #fffffff3;
        width: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        z-index: 100;
        transition: top 0.2s ease-in-out;
        
    }
    
    .logo {
        color: #000000;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
    
    }
    
    .navigation a {
        position: relative;
        font-size: 12px;
        text-decoration: none;
        color: #000000;
        margin-left: 20px;
        font-weight: 400;
        justify-content: space-between;
    }
    
    .navigation a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background: #ff0000;
        transition: .3s;
    
    }
    
    .navigation a:hover::before {
        width: 100%;
    }

     #indicator {
       text-decoration: underline;
          text-decoration-color: red; /* Replace with desired color */
          text-decoration-thickness: 2px; /* Adjust thickness if needed */
          text-decoration-style: solid; /* Options: solid, double, dotted, dashed, wavy */
            text-underline-offset: 4px;
    }
    
    
    
    /* Introduction */
    .intro {
        margin-top: px; /* To offset fixed header */
        text-align: center;
        padding: 10px;
    }
    
    .introtext h3 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .introtext p {
        font-size: 14px;
        padding: 0 10px;
    }

    /* Projects */

 

    .blocks {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 81px;
    }
    
    a {
        text-decoration: none;
    }

    .blocks p {
        font-style: italic;
    }
    
    .block1 {
        border-radius: 30px;
        border: 2px solid #626FFF !important;
        position: relative;
        padding: 10px;
        width: 200px;
        align-items: center;
        justify-content: center;
    
    }
    
    .block2 {
        border-radius: 30px;
        border: 2px solid #EB5308 !important;
        position: relative;
        padding: 10px;
        width: 200px;
        align-items: center;
        justify-content: center;
    
    }
    
    .block3 {
        border-radius: 30px;
        border: 2px solid #F44E4E !important;
        position: relative;
        padding: 10px;
        width: 200px;
        align-items: center;
        justify-content: center;
    
    }
    
    .tags {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    
    .block1 h5 {
        border: 2px solid #626FFF;
        border-radius: 24px;
        padding: 10px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #626FFF;
    }
    
    .block2 h5 {
        border: 2px solid #EB5308;
        border-radius: 24px;
        padding: 10px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #EB5308;
    }
    
    
    .block3 h5 {
        border: 2px solid #ff0000;
        border-radius: 24px;
        padding: 10px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #ff0000;
    }

    .blocks h3, p {
        color: #000000;
    }
}